header{
    margin-top: 200px;
    padding: 1em;
    display:flex;
    background-color: #f4f1ec;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  }

@media (min-width: 800px) {
  header{
    height:300px;
    flex-shrink: 1;
    left: 0;
  }
}