.tweet-text{
  display: flex;
  width:100%;
  margin-bottom: 0.5em;
  background-color: #f4f1ec;
  border: none;
  border-bottom: solid;
}
.tweet-creator{
  padding: 2em;
  width:100%;
}
.counter{
  float: right;
  font-family:'Bungee',sans-serif;
}
.tweet-new-tweet{
  font-family:'Bungee',sans-serif;
  background-color: #4056A1;
  color: #FFFF;
  border: none;
}
.article{
  border:solid;
  margin: 2em;
  font-family:  'Source Sans Pro',sans-serif;
}

.tweet-header{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
}

.username{
  margin-right: 1em;
  color:lightgrey;
}


#tweet-content{
  height:100px;
  display: flex;
  align-items: center;
  border-bottom: solid;
  margin:0 auto;
  width:90%;

}

#tweet-button{
  height: 50px;
  padding-top: 15px;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
  padding: 1em;
  margin-bottom: 1em;
  font-weight:normal;
}

.tweet-section{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.fa-flag:hover,
.fa-retweet:hover,
.fa-heart:hover
 {
  color: #4056A1;
};

@media (min-width: 1200px) {
.tweet-creator{
  display: flex;
  /* justify-content: flex-end; */
  width: 100%;
  padding:0;
  margin-top: 4em;
}
}